.delete-alert{
    position: absolute;
    // margin-left: -50px;
    padding: 2rem;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 50px -15px grey;
    color: #919191;
    font-size: 0.9rem;
    .button-group{
        margin: 1rem 0;
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        button{
            // right: 1rem;
            border: none;
            height: 2.25rem;
            border-radius: 3px;
            text-decoration: none;
            color: floralwhite;
            box-shadow: 0 0 5px #ccc;
        }
        .delete{
            background-image: linear-gradient(to right, #67d428, #008223);
            color: white;
        }
        .cancel{
            background: white;
            border: solid 1px #67d428;
            color: #67d428;
        }
        button:hover{
            cursor: pointer;
        }
        .delete:hover{
            background-image: linear-gradient(to right,#008223, #67d428);
        }
        .cancel:hover{
            color: white;
            background: #67d428;
        }
    }
}
@media (min-width: 610px){
    .delete-alert{
        top: 30%;
        left: 30%;
        width: 20rem;
        .button-group{
            button{
                width: 6.5rem;
            }
        }
    }
}

@media (max-width: 609px) and (min-width:320px){
    .delete-alert{
        margin: 1rem;
        top: 15rem;
        .button-group{
            button{
                width: 5rem;
            }
        }
    }
}

@media (max-width: 319px){
    .delete-alert{
        top: 15rem;
        left: 0;
        width: auto;
        .button-group{
            button{
                width: 5rem;
            }
        }
    }
}