.login-background {
  text-align: center;
  height: 100vh;
}

.login {
  justify-content: center;
  display: flex;
  height: 95%;
}
.login .container {
  display: flex;
  align-items: center;
}
.login .container .application {
  color: floralwhite;
  text-align: left;
}
.login .container .application .app {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.login .container .login-field {
  border-radius: 20px;
  height: 20rem;
  padding: 0 1rem;
  background: white;
  box-shadow: 0 0 75px -30px grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
  color: #1f1f1f;
}
.login .container .login-field form {
  text-align: center;
}
.login .container .login-field form .input-login {
  margin: 2rem 0;
  width: 100%;
}
.login .container .login-field form .input-login input[type=text], .login .container .login-field form .input-login input[type=password] {
  width: 100%;
  height: 3rem;
  padding: 12px 20px;
  margin: 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  box-shadow: 0 0 5px #ccc;
}
.login .container .login-field form button {
  background: #4534e0;
  border: none;
  height: 3rem;
  width: 100%;
  border-radius: 3px;
  text-decoration: none;
  color: floralwhite;
  box-shadow: 0 0 5px #ccc;
}
.login .container .login-field form button:hover {
  background: #4030d1;
  cursor: pointer;
  color: white;
  box-shadow: none;
}

@media (min-width: 1200px) {
  .container {
    width: 1000px;
    justify-content: space-between;
  }
}
@media (max-width: 1199px) and (min-width: 720px) {
  .container {
    width: 100%;
    padding: 0 5rem;
    justify-content: space-between;
  }
}
@media (max-width: 719px) and (min-width: 390px) {
  .container {
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 1rem;
  }
}
@media (max-width: 389px) {
  .login .container {
    flex-direction: column;
    justify-content: space-evenly;
  }
  .login .container .login-field {
    border-radius: 20px;
    background: white;
  }
}
@media (min-width: 420px) {
  .login-background {
    background-image: url(../img/background.jpg);
  }
}
@media (max-width: 419px) {
  .login-background {
    background-image: url(../img/background-mobile.jpg);
  }

  footer {
    color: floralwhite;
  }
}
@media (min-width: 400px) {
  .container .login-field {
    width: 20rem;
  }
}
.sidebar {
  margin: 0;
  position: fixed;
  height: 100vh;
  background-image: linear-gradient(to bottom, #30a4fc, #00508c);
  color: floralwhite;
  transition: 200ms;
}
.sidebar .header {
  border-bottom: solid 1px white;
  padding-bottom: 1.5rem;
  display: flex;
  align-items: center;
}
.sidebar .header .logo {
  margin-right: 1rem;
  font-size: 2rem;
}
.sidebar .header .brand {
  font-size: 1.5rem;
}
.sidebar .links-field {
  margin: 0;
  padding: 0;
}
.sidebar .links-field .navigation-links {
  list-style: none;
  padding: 0;
}
.sidebar .links-field .navigation-links .sidebar-link {
  font-size: 1.25rem;
  padding: 1rem 2rem;
  transition: 150ms;
  display: flex;
  height: 2rem;
}
.sidebar .links-field .navigation-links .sidebar-link .letter-icon {
  font-size: 1.4rem;
}
.sidebar .links-field .navigation-links .sidebar-link .icon {
  margin-right: 1rem;
}
.sidebar .links-field .navigation-links .sidebar-link:hover {
  background: #3060d1;
  cursor: pointer;
}

.sidebar-open {
  -webkit-transition-delay: 0ms, 200ms, 200ms;
  -moz-transition-delay: 0ms, 200ms, 200ms;
  -o-transition-delay: 0ms, 200ms, 200ms;
  transition-delay: 0ms, 200ms, 200ms;
  transition-property: width, opacity, visibility;
  width: 20rem;
}
.sidebar-open .header .brand {
  visibility: visible;
  opacity: 1;
  width: 100%;
}
.sidebar-open .links-field .navigation-links {
  opacity: 1;
  visibility: visible;
  width: 100%;
}
.sidebar-open .links-field .navigation-links .sidebar-link .title {
  -webkit-transition-delay: 0ms, 200ms, 200ms;
  -moz-transition-delay: 0ms, 200ms, 200ms;
  -o-transition-delay: 0ms, 200ms, 200ms;
  transition-delay: 0ms, 200ms, 200ms;
  transition-property: width, opacity, visibility;
}

.sidebar-collapse {
  -webkit-transition-delay: 200ms, 0ms, 0ms;
  -moz-transition-delay: 200ms, 0ms, 0ms;
  -o-transition-delay: 200ms, 0ms, 0ms;
  transition-delay: 200ms, 0ms, 0ms;
  transition-property: width, opacity, visibility;
  width: 6rem;
}
.sidebar-collapse .header .brand {
  opacity: 0;
  visibility: hidden;
  width: 0;
}
.sidebar-collapse .links-field .navigation-links .sidebar-link {
  width: 2rem;
}
.sidebar-collapse .links-field .navigation-links .sidebar-link .title {
  visibility: hidden;
  opacity: 0;
  -webkit-transition-delay: 200ms, 0ms, 0ms;
  -moz-transition-delay: 200ms, 0ms, 0ms;
  -o-transition-delay: 200ms, 0ms, 0ms;
  transition-delay: 200ms, 0ms, 0ms;
  transition-property: width, opacity, visibility;
}

@media (min-width: 900px) {
  .sidebar .header .toggle {
    display: none;
  }

  .sidebar-collapse {
    width: 6rem;
  }
}
@media (max-width: 899px) {
  .sidebar-collapse {
    -webkit-transition-delay: 200ms, 0ms, 0ms;
    -moz-transition-delay: 200ms, 0ms, 0ms;
    -o-transition-delay: 200ms, 0ms, 0ms;
    transition-delay: 200ms, 0ms, 0ms;
    transition-property: width, opacity, visibility;
    width: 0;
  }
  .sidebar-collapse .header .logo {
    opacity: 0;
    visibility: hidden;
  }
  .sidebar-collapse .header .toggle {
    visibility: hidden;
  }
  .sidebar-collapse .links-field {
    opacity: 0;
    visibility: hidden;
  }

  .sidebar-open .header .toggle {
    font-size: 1.5rem;
    visibility: visible;
  }
}
@media (min-width: 300px) {
  .sidebar .header {
    margin: 1.5rem 2rem 0 2rem;
  }
}
@media (max-width: 299px) {
  .sidebar-open {
    max-width: 100%;
  }
  .sidebar-open .header {
    margin: 1rem;
  }
}
.navbar {
  padding: 1.5rem;
  height: 2rem;
  background: white;
  display: flex;
  justify-content: space-between;
  transition: 200ms;
  transition-property: margin;
}
.navbar .navbar-title {
  color: #00508c;
  font-size: 1.5rem;
}
.navbar .navbar-title .fa-bars {
  padding-right: 1.5rem;
}
.navbar .navbar-title .fa-bars:hover {
  cursor: pointer;
}
.navbar .user {
  font-size: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .user .fa-sign-out-alt {
  color: #00508c;
}

.navbar-open {
  transition-delay: 0ms;
}

.navbar-collapse {
  transition-delay: 200ms;
}

@media (min-width: 900px) {
  .navbar .navbar-title .title {
    display: inline;
  }
  .navbar .user {
    width: 15rem;
  }

  .navbar-open {
    margin: 0 0 0 20rem;
  }

  .navbar-collapse {
    margin: 0 0 0 6rem;
  }
}
@media (max-width: 899px) {
  .navbar {
    height: 100%;
  }
  .navbar .navbar-title .title {
    display: none;
  }
  .navbar .user {
    width: 100%;
    justify-content: space-evenly;
  }

  .navbar-collapse {
    margin: 0;
  }

  .navbar-open {
    margin: 0;
  }
}

/*# sourceMappingURL=styles.css.map */
