.users-container{
    padding:1.25rem;
    height: 80vh;
    background: white;
    .users-header{
        display: flex;
        justify-content: space-between;
        .users-title{
            font-size: 1.25rem;
            color: #00508c;
        }
        .create{
            background: #4534e0;
            // right: 1rem;
            border: none;
            height: 2.25rem;
            width: 5rem;
            border-radius: 3px;
            text-decoration: none;
            color: floralwhite;
            box-shadow: 0 0 5px #ccc;
        }
        .create:hover{
            background: #4030d1;
            cursor: pointer;
            color: white;
            box-shadow: none;
        }
    }
    table{
        margin: 1rem 0;
        border-collapse: collapse;
        thead{
            th{
                border-bottom: 1px solid #ccc;
                font-size: 0.875rem;
                font-weight: 600;
                padding: 1rem 0;
                text-align: left;
            }
        }
        tbody{
            td{
                padding: 0.75rem 0;
                border-bottom: 1px solid #ccc;
                color: #919191;
                font-size: 0.875rem;
                i{
                    margin: 0 0.5rem;
                }
                i:hover{
                    cursor: pointer;
                    color: #4030d1;
                }
            }
        }
    }
    .create-user{
        position: absolute;
        background: white;
        border-radius: 5px;
        box-shadow: 0 0 75px -30px grey;
        z-index: 2;
        .create-header{
            margin-bottom: 1rem;
            color: #00508c;
            font-weight: 500;
            display: flex;
            justify-content: space-between;
        }
        form{
            color: #919191;
            display: flex;
            flex-direction: column;
            font-size: 0.75rem;
            width :30rem;
            .row{
                display: flex;
                justify-content: space-between;
                .col{
                    display: flex;
                    flex-direction: column;
                    .label{
                        font-size: 0.75rem;
                    }
                    input{
                        color: #919191;
                        width: 100%;
                        height: 2rem;
                        padding: 12px 20px;
                        margin-bottom: 1rem;
                        display: inline-block;
                        border: 1px solid #ccc;
                        border-radius: 2px;
                        box-sizing: border-box;
                        box-shadow: 0 0 5px #ccc;
                    }
                    select{
                        color: #919191;
                        width: 100%;
                        height: 2rem;   
                        margin-bottom: 1rem;
                        display: inline-block;
                        border: 1px solid #ccc;
                        border-radius: 2px;
                        box-sizing: border-box;
                        box-shadow: 0 0 5px #ccc;
                    }
                }
            }
            
            
            .button-group{
                margin: 1rem 0;
                display: flex;
                width: 100%;
                justify-content: space-evenly;
                button{
                    // right: 1rem;
                    border: none;
                    height: 2.25rem;
                    width: 6.5rem;
                    border-radius: 3px;
                    text-decoration: none;
                    color: floralwhite;
                    box-shadow: 0 0 5px #ccc;
                }
                .crear{
                    background-image: linear-gradient(to right, #67d428, #008223);
                    color: white;
                }
                .cancel{
                    background: white;
                    border: solid 1px #67d428;
                    color: #67d428;
                }

                button:hover{
                    background: #4030d1;
                    cursor: pointer;
                    color: white;
                    box-shadow: none;
                }
            }
            
        }
    }
    .pagination{
        display: flex;
        justify-content: flex-end;
        i{
            margin: 0 1rem;
        }
        i:hover{
            color: #4534e0;
        }
    }
    .pagination:hover{
        cursor: pointer;
    }
}

@media (min-width: 1350px){
    .users-container{
        transition: 200ms;
        transition-property: margin;
        table{
            width: 100%;
        }
        .create-user{
            top: 10rem;
            padding: 4rem;
            left: 30rem;
            width: 30rem;
            .create-header{
                width: 30rem;
            }
        }
    }
    .users-open{
        margin: 1rem  21rem 0 21rem;
        transition-delay: 0ms;
        -webkit-transition-delay: 0ms;
        -moz-transition-delay: 0ms;
        -o-transition-delay: 0ms;
    }
    .users-collapse{
        margin: 1rem 21rem 0 7rem;
        transition-delay: 200ms;
        -webkit-transition-delay: 200ms;
        -moz-transition-delay: 200ms;
        -o-transition-delay: 200ms;
    }
}

@media (min-width: 900px) and (max-width: 1349px) {
    .users-container{
        margin: 2rem 1rem 1rem 7rem;
        .create-user{
            padding: 4rem;
            .create-header{
                width: 30rem;
            }
        }
    }
}


@media (min-width: 500px) and (max-width: 899px){
    .users-container{
        margin: 0; 
        overflow-x: auto;
        .create-user{
            top: 10%;
            left: 10%;
            padding: 4rem;
            overflow-y: auto;
            .create-header{
                width: 30rem;
            }
            form{
                .row{
                    flex-direction: column;
                }
            }
            
        } 
        table{
            margin-top: 2rem;
            margin-right: 2rem;
            
            thead{
                white-space: nowrap;
                th{
                    min-width: 6rem;
                    max-width: 20rem;
                }
            }
            tbody{
                white-space: nowrap;
                td{
                    min-width: 6rem;
                    max-width: 20rem;
                }
            }
        }
    }
}


@media (max-width: 499px){
    .users-container{
        margin: 0; 
        overflow-x: auto;
        .create-user{
            padding: 0;
            width: 100%;
            top: 0;
            left: 0;
            .create-header{
                padding: 1rem;
            }
            
            form{
                padding: 1rem;
                width: auto;
                .row{
                    flex-direction: column;
                    .col{
                        input, select{
                            max-width: 20rem;
                        }
                    }
                }
            }
            
        } 
        table{
            margin-top: 2rem;
            margin-right: 2rem;
            
            thead{
                white-space: nowrap;
                th{
                    min-width: 6rem;
                    max-width: 20rem;
                }
            }
            tbody{
                white-space: nowrap;
                td{
                    min-width: 6rem;
                    max-width: 20rem;
                }
            }
        }
    }
}